.container {
    background-color: #024769;
    margin-top: 2.5%;
    border-radius: 3%;
    padding: 2%;
    
}

h1 {
    display: block;
    text-align: center;
}
img {
    width: 35%;
    margin-top: 5%;
    border-radius: 7%;

}

.imagenes {
    display: flex;
    justify-content: space-around;
    font-size: small;
}

.btn-volver {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    
}
button {
    border-radius: 5%;
}