<div class="container">
    <h1>POOmBA Soluciones</h1>
    <div class="imagenes">
        <img src="../../../assets/Images/Monica.jpeg" alt="Monica">
        <img src="../../../assets/Images/Lucas.jpg" alt="Lucas">
    </div>
    <div class="imagenes">
        <span><a href="mailto: mnieto@poombasoluciones.com">Monica Nieto</a></span>
        <span><a href="mailto: lmarques@poombasoluciones.com">Lucas Marques</a></span>
    </div>
    <div class="imagenes">
        <img src="../../../assets/Images/Gustavo.jpeg" alt="Gustavo">
        <img src="../../../assets/Images/Federico.jpeg"alt="Federico">
    </div>
    <div class="imagenes">
        <span><a href="mailto: gzammataro@poombasoluciones.com">Gustavo Zammataro</a></span>
        <span><a href="mailto: fbalbuena@poombasoluciones.com">Federico Balbuena</a></span>
    </div>
    
    <div class="btn-volver">
    <button type="button" class="btn btn-outline-primary" routerLink="/">Ir a página principal</button>
    </div>
</div>