<div class="container">
    <h1>POOmBA Soluciones</h1>
    <div class="imagenes">
        <img src="../../../assets/Images/Monica.jpeg" alt="Monica">
        <img src="../../../assets/Images/Lucas.jpeg" alt="Lucas">
    </div>
    <div class="imagenes">
        <span>Monica Nieto - <a href="mailto: mnieto@poombasoluciones.com">mnieto@poombasoluciones.com</a></span>
        <span>Lucas Marques - <a href="mailto: lmarques@poombasoluciones.com">lmarques@poombasoluciones.com</a></span>
    </div>
    <div class="imagenes">
        <img src="../../../assets/Images/Gustavo.jpeg" alt="Gustavo">
        <img src="../../../assets/Images/Federico.jpeg"alt="Federico">
    </div>
    <div class="imagenes">
        <span>Gustavo Zammataro - <a href="mailto: gzammataro@poombasoluciones.com">gzammataro@poombasoluciones.com</a></span>
        <span>Federico Balbuena - <a href="mailto: fbalbuena@poombasoluciones.com">fbalbuena@poombasoluciones.com</a></span>
    </div>
    
    <div class="btn-volver">
    <button type="button" class="btn btn-outline-primary" routerLink="/">Ir a página principal</button>
    </div>
</div>