.container {
    background-color: #024769;
    margin-top: 3.2%;
    margin-bottom: 4%;
    border-radius: 3%;
    width: 35%
    
}

h1 {
    padding-top: 2%;
    display: block;
    text-align: center;
}
img {
    width: 30%;
    margin-top: 5%;
    border-radius: 7%;

}

.imagenes {
    display: flex;
    justify-content: space-around;
    font-size: small;
}

.btn-volver {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    
}
button {
    margin-bottom: 5%;
    border-radius: 5%;
}