<div class="container">
    <h1>Volquetes POOmBA</h1>

    <p> Somos el grupo POOmBA, integrado por: Mónica Nieto, Lucas Marques de Paiva, Federico Balbuena y Gustavo
        Zammataro.</p>
    <p> Como proyecto final integral de las materias Frontend y Backend, realizamos un ABM o CRUD (por sus siglas en
        ingles), para un sistema de gestión de volquetes, el objetivo es poder crear órdenes de servicio, poder
        editarlas, revisarlas o eliminarlas según corresponda. Para realizar este proyecto utilizamos: FrontEnd: HTML,
        CSS, JavaScript, Angular, Bootswatch. BackEnd: TypeScript, Node, Express, MongoDB. Para gestión del proyecto,
        utilizamos un sistema de versionado con git y subimos el proyecto a un repositorio en GitHub, donde trabajamos
        en forma colaborativa dividiendo tareas y validando criterios entre los miembros del equipo. Para la gestión de
        las tareas empleamos Trello, donde fuimos registrando el progreso y el estado de las tareas.</p>

    <div class="flex">
        <button class="btn btn-lg btn-primary btn-agregar" type="button" routerLink="/agregar">Agregar Servicio</button>
    </div>

    <table class="table table-hover tabla">
        <thead>
            <tr>
                <th scope="col">Numero</th>
                <th scope="col">Cliente</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Tamaño</th>
                <th scope="col">Chofer</th>
                <th scope="col">Ubicación</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngFor="let volquete of listVolquetes" class="table-active">
            <tr>
                <th scope="row">{{volquete.numero}}</th>
                <td>{{volquete.cliente}}</td>
                <td>{{volquete.precio}}</td>
                <td>{{volquete.cantidad}}</td>
                <td>{{volquete.tamanio}}</td>
                <td>{{volquete.chofer}}</td>
                <td>{{volquete.ubicacion}}</td>
                <td>
                    <button [routerLink]="['/detalle', volquete._id]" type="button"
                        class="btn btn-primary">Detalle</button>
                    <button [routerLink]="['/editar', volquete._id]" type="button"
                        class="btn btn-success btn-editar">Editar</button>
                    <button (click)="eliminarServicioVolquete(volquete._id)" type="button"
                        class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>