.container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-editar {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    border-radius: 5px;
}

.flex {
    display: flex;
    justify-content:end;
}

.tabla {
    margin-top: 30px;
}


