<div class="container">
    <h1>Volquetes POOmBA</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ad quisquam pariatur. Non corrupti, culpa iste
        eum voluptatibus beatae nesciunt obcaecati reiciendis animi, iure accusamus explicabo dolor necessitatibus nobis
        illo quidem! Enim modi ex eaque! Sunt commodi alias vero temporibus incidunt facilis esse consequuntur totam
        aspernatur nobis at laboriosam, aliquam beatae, culpa libero. Non magni, quaerat explicabo at harum perspiciatis
        porro animi officiis quibusdam quas error, nulla provident eos dolorum voluptas minima voluptate, sapiente iste
        possimus consequatur! Rem iure voluptates minima fuga quo alias. Nemo eaque facilis voluptatum, sequi eius
        assumenda aperiam praesentium, asperiores atque omnis quia dicta repellat! Unde ipsa soluta maxime veniam vitae
        cumque earum ab nemo minima exercitationem vel, nihil omnis quia ullam consequatur nam adipisci dolores dolore!
        Velit suscipit quasi et in. Repellendus tempora inventore ullam nulla, modi doloribus consequuntur commodi,
        culpa pariatur quos ab minima consequatur eos ipsa et similique ipsum placeat autem neque voluptatem.</p>

    <div class="flex">
        <button class="btn btn-lg btn-primary btn-agregar" type="button" routerLink="/agregar">Agregar Servicio</button>
    </div>

    <table class="table table-hover tabla">
        <thead>
            <tr>
                <th scope="col">Numero</th>
                <th scope="col">Cliente</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Tamaño</th>
                <th scope="col">Chofer</th>
                <th scope="col">Ubicación</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngFor="let volquete of listVolquetes" class="table-active">
            <tr>
                <th scope="row">{{volquete.numero}}</th>
                <td>{{volquete.cliente}}</td>
                <td>{{volquete.cantidad}}</td>
                <td>{{volquete.tamanio}}</td>
                <td>{{volquete.chofer}}</td>
                <td>{{volquete.ubicacion}}</td>
                <td>
                    <button (click)="obtenerVolquete(volquete._id)" routerLink="/detalle" type="button" class="btn btn-primary">Detalle</button>              
                    <button type="button" class="btn btn-success btn-editar">Editar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>