h2 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10%;
}

button {
    border-radius: 5px;
    
}

.btnForms {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.formBox {
    margin-top: 3.2%;
    margin-bottom: 5%;

}

.formulario {
  
    background-color: #024769;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 30px;
}

.form-group {
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}

.input-poomba {
    background: none;
    border: none;
    color: white;
    font-size:medium;
}


.input-poomba:focus {
    outline: 0;
}

label{
    font-size: medium;
}

.contenido {
    display: flex;
    justify-content: space-between;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 160px;
    width: 620px;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    height: 360px;
    width: 620px;
}