<div class="container-detalle">
    <table class="table table-secondary">
        <thead>
            <tr>
                <th scope="col">Numero</th>
                <th scope="row"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Cliente</th>
                <td>Cliente</td>
            </tr>
            <tr>
                <th scope="row">Cantidad</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Tamaño</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Chofer</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Ubicacion</th>
                <td></td>
            </tr>
    
        </tbody>
    </table>
    <div>
        <button routerLink="/" type="button" class="btn btn-primary">Volver</button>
    </div>
    </div>
