h2 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5%;
}

button {
    border-radius: 5px;
}

.btnForms {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.formBox {
    margin-top: 2%;
    margin-bottom: 13%;
}

.formulario {
    background-color: #024769;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 30px;
}

.form-group {
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}

.input-poomba {
    background: none;
    border: none;
    color: white;
    font-size:small;
    width: 73%;
}

.input-poomba:focus {
    outline: 0;
}

label{
    font-size: small;
    padding-top: .4%;
}

.contenido {
    display: flex;
    justify-content: space-around;    
}

iframe {
    width: 60%;
    border-radius: 3%;
}